body{
    margin: 0;
    background-color: gray;
    height: 100vh;
    background-image: url('../BG.jpg');
    font-family: chapman, sans-serif;

font-weight: 700;

font-style: normal;
color: white;
}

.draggable-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, .05);  
        backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 20px;
    min-height: 64px;
    min-width: 100vh;
  }
  .list-item {
    height: 64px;
    width: 64px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    background: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trash {
   
    background-image: url("../trash.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .trashList{
    height: 64px;
    min-width: 64px !important;
  }
  .music{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 73vh;
  }
  .music> div > .draggable-list{
      width: 100%;
  }

  .notes{
      left: 0;
      margin: 0;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, .05);  
        backdrop-filter: blur(5px);
      position: fixed;
      bottom: 0;
  }

  .notes .draggable-list{
      min-width: 0 !important;
    background: none;  
    backdrop-filter: blur(0);
  }
  .notes .flex-center{
      margin: 16px 0;
  }

  .slide:hover,
.slide:focus {
  box-shadow: inset 4em 0 0 0 white;
}

  .column{
      flex-direction: column;
  }

  .buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align:center;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, .14);
}

.btn-hover:hover {
   background-color: #fff; 
   color: black;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 240, 0.1);
}
