.draggable-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    background: #3f51b5;
    color: #fff;
    border: 1px solid;
    height: 10vh;
  }
  .list-item {
    height: 64px;
    width: 64px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    background: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trash {
    height: 64px;
    width: 64px;
    background-image: url("../trash.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .music{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
  }
  .music> div > .draggable-list{
      width: 100%;
  }