body{
    margin: 0;
    background-color: tomato;
    height: 100vh;
}

.draggable-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 20px;
    min-height: 64px;
    min-width: 100vh;
  }
  .list-item {
    height: 64px;
    width: 64px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    background: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trash {
   
    background-image: url("../trash.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .trashList{
    height: 64px;
    min-width: 64px !important;
  }
  .music{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
  }
  .music> div > .draggable-list{
      width: 100%;
  }

  .notes{
      left: 0;
      margin: 0;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
      position: fixed;
      bottom: 0;
  }

  .notes .draggable-list{
    background: none;  
    backdrop-filter: blur(0);
  }
  .notes .flex-center{
      margin: 16px 0;
  }
